.hero{
    position:relative;

}
.banner-img{
    width:100%;
    -webkit-mask-image:linear-gradient(to right, transparent, black 75%);
    mask-image:linear-gradient(to right, transparent, black 75%);
}
.hero-caption{
    position:absolute;
    width:100%;
    padding-left:6%;
    bottom: 15%;

}
.caption-img{
    width:90%;
    max-width:420px;
    margin-bottom:30px;
}
.hero-caption p{
    max-width:700px;
    font-size: 17px;
    margin-bottom:20px;
}
.hero-btns{
    display:flex;
    gap:10px;
    margin-bottom:50px;
    
}
.hero-btns .btn img{
    width:25px;
}
.hero-btns .btn{
    border:0;
    outline: 0;
    padding:8px 20px;
    display:inline-flex;
    align-items:center;
    gap:15px;
    font-weight :600;
    background: white;
    border-radius:4px;
    cursor:pointer;

}

.hero-btns .btn.dark-btn{

    color:#fff;
    background:#6d6d6eb3
}
.hero-btns .btn:hover{
    background: #ffffffbf;
}
.hero-btns .btn.dark-btn:hover{
    background: #6d6d6e66 ;
}
.more-cards{
    padding-left: 6%;
    margin-top:-12%;
    color:#ffffff;
    z-index: 10px;
}
@media (max-width:1024px){
    .hero-caption .title-cards{
        display:none;
    }
    .hero-btns{
        margin-bottom:30px;
    }

}
@media(max-width: 800px){
    .hero-caption{
        padding-left:4%;
    }
    .cation-img{
        margin-bottom:10px;
        width:40%;
    }
    .hero-caption p{
        font-size:12px;
        padding-right:150px;
        margin-bottom:10px;
    }
    .btn img{
        width:20px;
    }
    .nore-cards{
        padding-left:4%; 
    }
    }

@media(max-width:500px){
    .caption-img{
        display:none;

    }
    .btn img{
        width:15px;
    }
    .btn{
        padding:4px 10px;
        gap:5px;
        font-size:10px;
    }
}
@media(max-width:750px){
    .caption-img{
        margin-bottom:10px ;
        width:40%;
        height:20%;
    }}
@media(max-width:550px){

    
    .caption-img{
        margin-bottom: 10px;
        width:20%;
        height:10%;
        display: flex;
        justify-items: center;
    }}

    @media(max-width:465px){
    
    .caption-img{
        display:none;

    }
}

    @media(max-width:400px){
    
    .caption-img{
        display:none;

    }
     .hero-caption p{
        font-size:10px;
        padding-right:150px;
        margin-top: 25px;
        
     }
     
}
@media(max-width:450px){
    .hero-caption{
        top:50px;
    }
    .hero-caption p{
        padding-right:20px;
    }

    
}
@media(min-width:400px) and (max-width:450px){
    .hero-caption{
        margin-top: 20px;
    }
}

